*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This equals to 1 rem since 16px font is page default; to make 1rem = 10px for simpler code: 10 / 16 = 62.5
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}